Source: ros-hydro-orogen
Section: misc
Priority: extra
Maintainer: OCL Development Team <orocos-dev@lists.mech.kuleuven.be>
Build-Depends: debhelper (>= 9.0.0), cmake, libruby1.9.1, ruby1.9.1, ruby1.9.1-dev
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-orogen
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libruby1.9.1, ros-hydro-catkin, ros-hydro-typelib, ros-hydro-utilrb, ruby1.9.1, ruby1.9.1-dev
Description: orogen offers a specification interface for components developped in the Orocos Realtime Toolkit. Moreover, it generates the specified modules, thus offering an easy and fast development process.
